{% extends 'dummy.html' %}
{% block title %}
<title>Change Password</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body_block %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center" style="color: #f4f7f4;">Change Password</h1>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ fm.as_p }}

                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        border: 1px solid #ced4da;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #0c5c35;
    }

    .card-body {
        padding: 20px;
    }

    .btn-primary {

        background-color: white;
        color: black;
        border-color: #0c5c35;
    }

    .btn-primary:hover {
        background-color: #0a5030;
        border-color: #0a5030;
    }
</style>

{% endblock %}
